<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.workflow.mapper.FlowDeployMapper">

    <resultMap id="procdefMap" type="com.mx.workflow.api.vo.FlowProcDefVO">
        <id property="id" column="id_"/>
        <result property="name" column="name_"/>
        <result property="flowKey" column="key_"/>
        <result property="category" column="category_"/>
        <result property="version" column="version_"/>
        <result property="deploymentId" column="deployment_id_"/>
        <result property="suspensionState" column="suspension_state_"/>
        <result property="deploymentTime" column="deploy_time_"/>
    </resultMap>

    <select id="selectDeployList" resultMap="procdefMap">
        SELECT
        rp.id_,
        rp.deployment_id_,
        rd.name_,
        rd.category_,
        rp.key_,
        rp.version_,
        rp.suspension_state_,
        rd.deploy_time_
        FROM
        ACT_RE_PROCDEF rp
        LEFT JOIN ACT_RE_DEPLOYMENT rd ON rp.deployment_id_ = rd.id_
        <where>
            <if test="name != null and name != ''">
                and rd.name_ like concat('%', #{name}, '%')
            </if>
        </where>
        order by rd.deploy_time_ desc
    </select>
</mapper>